/* ---------------------------/Layout--------------------------- */

:root {
    font-size: 16px;
    font-family: sans-serif;
    --gray: #E9EBEE;
    --light-gray: #F3F5F8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "head head"
    "side nav"
    "side main"
    "side foot"
    ;
    grid-template-columns: 63px 1fr;
    grid-template-rows: 70px 60px 1fr 46px;
}

body>header {
    grid-area: head;
}

body>aside {
    grid-area: side;
}

body>nav {
    grid-area: nav;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;
}

/* --------------------------Generic--------------------------- */

a {
    text-decoration: none;
    color: black;
}

.profile-pic>img {
    border-radius: 50%;
}

.btn {
    background-color: white;
    border: 0.1em solid #74CC1D;
    border-radius: 1.25em;
    padding: 0.5em 1em;
    font-size: 0.85rem;
}

/* ---------------------------Header--------------------------- */

body>header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

body>header>section {
    display: flex;
    align-items: center;
}
#logo-section, #signup-signin {
    gap: 2rem;
}

#search {
    padding: 0.25rem 0.5rem;
}

#search>input {
    width: 35vw;
    height: 35px;
    border: 1px solid var(--gray);
    border-right: none;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding: 0 1rem;
    font-size: 1rem;
}
#search>button {
    height: 35px;
    border: 1px solid var(--gray);
    border-left:none;
    background-color: transparent; 
    margin-left: auto;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 0.5rem 1rem;
}

#search>button>img {
    height: 100%;
}

#signup-signin button {
    font-weight: 600;
}

#signup-signin button:first-child {
    border: none;
}

#signup-signin button:last-child {
    padding: 1rem 1rem;
    border-radius: 2em;
}
/* ---------------------------Navbar--------------------------- */

body>nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.tag {
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 0.85rem;
}

.text-tag {
    background-color: var(--light-gray);
}

/* ---------------------------Sidebar-------------------------- */

/* To do: check for redundancies */

body>aside {
    overflow: auto;
    width: 80px;
}

body>aside>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 10%;
}

body>aside>section>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
a>span {
    font-size: 0.5rem;
    text-align: center;
}

aside>section>h3 {
    font-size: 0.75rem;
}

aside::-webkit-scrollbar {
    color: transparent;
}
/* ------------------------Main Section------------------------- */

body>main {
    overflow-y: auto;
}

#ft {
    display: flex;
    background-color: var(--light-gray);
    padding: 0 2rem;
}

#ft-caption {
    display: flex;
}

.caption-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.video-row-container {
    background-color: var(--gray);
    padding: 1.5rem 1.5rem;
}

.video-row, #tlc-row {
    display: grid;
    gap: 1rem;
}

#tlc-row {
    grid-template-columns: repeat(12, 1fr);
}

.tlc-caption {
    font-size: 0.75rem;
}

.video-row {
    grid-template-columns: repeat(5, 1fr);
}

.row-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.img-container>img {
    border-radius: 0.75rem;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ---------------------------Footer--------------------------- */

main>footer {
    display: flex;
    justify-content: space-between;
}

main>footer div:first-child {
   visibility: hidden;
}
main>footer>div:nth-child(2)>a {
    font-size: 0.85rem;
    font-weight: 600;
}
