/* ---------------------------Generic/Layout--------------------------- */

:root {
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "head head"
    "side nav"
    "side main"
    "side foot"
    ;
    grid-template-columns: 63px 1fr;
    grid-template-rows: 70px 60px 1fr 46px;
}

body>header {
    grid-area: head;
    background-color: red;
}

body>aside {
    grid-area: side;
    background-color: aquamarine;
}

body>nav {
    grid-area: nav;
    background-color: blue;
}

body>main {
    grid-area: main;
    background-color: gray;
}

body>footer {
    grid-area: foot;
    background-color: aqua;
}
